.titulo {
    width: 600px;
    text-align: center;
    margin: 0 auto;
    background-color: #7b2abd;
    padding: 0 20px 20px 20px;
    border: 5px solid rgb(0, 0, 0);
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 30px;
  }

  .apresentacao h3 {
    text-align: center;
}

  
  .login {
    position: absolute;
    top: 20px;
    right: 20px;
  }

  .botao-login {
    
    display: inline-block;
    padding: 25px 80px;
    background-color: #333;
    color: white;
    text-decoration: none;
    border-radius: 5px;
    font-size: 30px;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}


.DaD {
    width: 600px;
    margin: 0 auto;
    padding: 0 20px 20px 20px;
  }

.VTM {
    width: 600px;
    margin: 0 auto;
    padding: 0 20px 20px 20px;
  }

.Cellbit {
    width: 600px;
    margin: 0 auto;
    padding: 0 20px 20px 20px;
  }

.Cthulhu {
    width: 600px;
    margin: 0 auto;
    padding: 0 20px 20px 20px;
  }

.dEt {
    width: 600px;
    margin: 0 auto;
    padding: 0 20px 20px 20px;
  }

.Pathfinder {
    width: 600px;
    margin: 0 auto;
    padding: 0 20px 20px 20px;
  }

  


