body{
    background-color: black;
    color: white;
}

.header-class{
    display: flex;
    justify-content: center;
    width: 100%;
    height: 20vh;
}

.header-presentation{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10rem;
    width: 95vw;
    height: 15vh;
    background-color: var(--accent-clr);
    

}

.login,.presentation{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 15vw;
    height: 10vh;
}


.login-btn{
    background-color: #04AA6D; /* Green */
    border: none;
    color: white;
    padding: 16px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    transition-duration: 0.4s;
    cursor: pointer;
}

.login-btn {
    background-color: white; 
    color: black; 
    border: 2px solid #04AA6D;
}

.login-btn :hover {
    background-color: #04AA6D;
    color: white;
}